*.pyc
*.db*
*.log*
*.info
venv
settings.py
.DS_Store
macos.sh
.vscode
src/db.json
node_modules
.pytest_cache
.venv
.env
__pycache__
.coverage
htmlcov
junit
brainss
config.json
.envv
comments_replied_to.txt
.idea/vcs.xml
.idea/reddit-timezone-converter-bot.iml
.idea/modules.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/.name
